.Statistics__title, .Team__title {
  font-family: "Comfortaa", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #bd0713;
  text-shadow: 1px 1px 2px #3c3c3c;
  text-align: center;
}
@media (min-width: 768px) {
  .Statistics__title, .Team__title {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .Statistics__title, .Team__title {
    font-size: 70px;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.Header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  position: absolute;
  width: 100%;
}
@media (min-width: 768px) {
  .Header {
    padding: 0 10px;
  }
}
@media (min-width: 992px) {
  .Header {
    padding: 0 50px;
  }
}
.Header__logo {
  max-width: 200px;
  margin-left: -60px;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .Header__logo {
    max-width: 180px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .Header__logo {
    max-width: 250px;
    margin-left: -50px;
  }
}
@media (min-width: 1200px) {
  .Header__logo {
    max-width: 300px;
    margin-left: -45px;
  }
}
.Header__menu {
  display: none;
}
@media (min-width: 768px) {
  .Header__menu {
    display: flex;
    margin-top: 25px;
    list-style: none;
  }
}
@media (min-width: 992px) {
  .Header__menu {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .Header__menu-item {
    margin: 0 12px;
  }
}
@media (min-width: 1200px) {
  .Header__menu-item {
    margin: 0 18px;
  }
}
.Header__menu-itemA {
  position: relative;
  font-family: "Marck Script", cursive;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
@media (min-width: 768px) {
  .Header__menu-itemA {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .Header__menu-itemA {
    font-size: 20px;
  }
}
.Header__menu-itemA:hover {
  color: #bd0713;
}
.Header__menu-itemA:hover:after {
  opacity: 1;
}
.Header__menu-itemA:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #bd0713;
  opacity: 0;
  transition: 0.3s;
  bottom: -8px;
}

.Top {
  background-image: url("../img/top_bg.jpg");
  background-size: cover;
  padding: 85px 25px 65px 25px;
  background-position: center center;
}
@media (min-width: 768px) {
  .Top {
    padding: 100px 25px;
    background-position: inherit;
  }
}
@media (min-width: 992px) {
  .Top {
    padding: 130px 50px;
  }
}
@media (min-width: 1200px) {
  .Top {
    padding: 170px 50px 200px 50px;
  }
}
@media (min-width: 1500px) {
  .Top {
    background-position: right;
  }
}
.Top__title {
  font-family: "Comfortaa", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #bd0713;
  text-shadow: 1px 1px 6px #570606;
}
@media (min-width: 768px) {
  .Top__title {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .Top__title {
    font-size: 75px;
  }
}
@media (min-width: 1200px) {
  .Top__title {
    font-size: 100px;
  }
}
.Top__description {
  font-family: "Marck Script", cursive;
  font-size: 35px;
  font-weight: 400;
  color: #ff9800;
  padding-top: 10px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .Top__description {
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .Top__description {
    font-size: 65px;
    padding-top: 20px;
    padding-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .Top__description {
    font-size: 75px;
    padding-top: 25px;
    padding-bottom: 100px;
  }
}
.Top__button {
  position: relative;
  display: block;
  overflow: hidden;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #bd0713;
  width: 100%;
  max-width: 150px;
  height: 40px;
  border: 2px solid #bd0713;
  text-decoration: none;
  line-height: 40px;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
  text-align: center;
  border-radius: 5px;
  z-index: 0;
}
.Top__button:before {
  right: -50px;
  border-right: 50px solid transparent;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}
.Top__button:after {
  left: -50px;
  border-left: 50px solid transparent;
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}
.Top__button:before, .Top__button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 80px solid #bd0713;
  z-index: -1;
}
.Top__button:hover {
  color: white;
  text-decoration: none;
}
.Top__button:hover:before {
  transform: translateX(-40%);
}
.Top__button:hover:after {
  transform: translateX(40%);
}
.Top__button:before {
  right: -50px;
  border-right: 50px solid transparent;
}
@media (min-width: 360px) {
  .Top__button:before {
    right: -60px;
  }
}
.Top__button:after {
  left: -60px;
  border-left: 50px solid transparent;
}
@media (min-width: 768px) {
  .Top__button:after {
    left: -50px;
  }
}
@media (min-width: 768px) {
  .Top__button {
    font-size: 16px;
    max-width: 200px;
    height: 60px;
    line-height: 60px;
  }
}
@media (min-width: 992px) {
  .Top__button {
    font-size: 20px;
    max-width: 250px;
    height: 80px;
    line-height: 80px;
  }
}
@media (min-width: 1200px) {
  .Top__button {
    font-size: 25px;
  }
}

.Team {
  background: url(../img/team-bg.jpg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.Team__title {
  margin-bottom: 100px;
}
@media (min-width: 360px) {
  .Team__person-photo {
    max-width: 300px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .Team__person-photo {
    max-width: 400px;
    padding-bottom: 50px;
  }
}
.Team__person-name {
  font-family: "Marck Script", cursive;
  font-size: 25px;
  font-weight: 800;
  color: #bd0713;
  padding-top: 15px;
  padding-bottom: 5px;
  position: relative;
}
.Team__person-name:before {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  bottom: -5px;
  width: 25px;
  transform: translate(50%);
  border-bottom: 2px solid #bd0713;
}
.Team__person-position {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ff9800;
  padding: 15px 0 15px;
  text-transform: lowercase;
}

.Statistics {
  background-color: #ff9800;
  background-image: url("../img/bg-mask.png");
  background-blend-mode: hard-light;
  padding: 100px 0;
}
.Statistics__title {
  text-shadow: 1px 1px 2px #6e6c6c;
  color: white;
  margin-bottom: 100px;
}
.Statistics__content {
  display: flex;
  text-align: center;
}
@media (min-width: 360px) {
  .Statistics__content {
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .Statistics__content {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
@media (min-width: 360px) {
  .Statistics__block {
    width: 49%;
  }
}
.Statistics__block-number {
  font-family: "Marck Script", cursive;
  font-size: 75px;
  font-weight: 800;
  color: #bd0713;
  text-shadow: 1px 1px 0 #fff;
}
@media (min-width: 768px) {
  .Statistics__block-number {
    font-size: 85px;
  }
}
@media (min-width: 992px) {
  .Statistics__block-number {
    font-size: 100px;
  }
}
.Statistics__block-text {
  font-family: "Comfortaa", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
}
@media (min-width: 768px) {
  .Statistics__block-text {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .Statistics__block-text {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
