@import "variables";

* {
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1170px;
    }
}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    position: absolute;
    width: 100%;

    @include bp(m) {
        padding: 0 10px;
    }

    @include bp(l) {
        padding: 0 50px;
    }

    &__logo {
        max-width: 200px;
        margin-left: -60px;
        padding-top: 10px;

        @include bp(m) {
            max-width: 180px;
            margin-left: -15px;
        }

        @include bp(l) {
            max-width: 250px;
            margin-left: -50px;
        }

        @include bp(md) {
            max-width: 300px;
            margin-left: -45px;
        }
    }

    &__menu {
        display: none;

        @include bp(m) {
            display: flex;
            margin-top: 25px;
            list-style: none;
        }

        @include bp(l) {
            margin-top: 30px;
        }

        &-item {
            @include bp(m) {
                margin: 0 12px;
            }

            @include bp(md) {
                margin: 0 18px;
            }

            &A {
                position: relative;
                @include Marck(20, 600, #000);

                &:hover {
                    color: $c-red;

                    &:after {
                        opacity: 1;
                    }
                }

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background: $c-red;
                    opacity: 0;
                    transition: .3s;
                    bottom: -8px;
                }

                @include bp(m) {
                    font-size: 15px;
                }

                @include bp(md) {
                    font-size: 20px;
                }
            }
        }
    }
}

.Top {
    background-image: url("../img/top_bg.jpg");
    background-size: cover;
    padding: 85px 25px 65px 25px;
    background-position: center center;

    @include bp(m) {
        padding: 100px 25px;
        background-position: inherit;
    }

    @include bp(l) {
        padding: 130px 50px;
    }

    @include bp(md) {
        padding: 170px 50px 200px 50px;
    }

    @include bp(1500px) {
        background-position: right;
    }

    &__title {
        @include Comfortaa(35, 700, $c-red);
        text-shadow: 1px 1px 6px #493939;

        @include bp(m) {
            font-size: 60px;
        }

        @include bp(l) {
            font-size: 75px;
        }

        @include bp(md) {
            font-size: 100px;
        }
    }

    &__description {
        @include Marck(35, 400, $c-orange);
        text-shadow: 1px 0 4px rgba(95, 95, 95, 0.3);
        padding-top: 10px;
        padding-bottom: 60px;

        @include bp(m) {
            font-size: 60px;
            padding-top: 15px;
            padding-bottom: 50px;
        }

        @include bp(l) {
            font-size: 75px;
            padding-top: 20px;
            padding-bottom: 75px;
        }

        @include bp(md) {
            font-size: 100px;
            padding-top: 25px;
            padding-bottom: 100px;
        }
    }

    &__button {
        position: relative;
        display: block;
        overflow: hidden;
        @include Comfortaa(14, 600, $c-red);
        width: 100%;
        max-width: 150px;
        height: 40px;
        border: 2px solid $c-red;
        text-decoration: none;
        line-height: 40px;
        box-sizing: border-box;
        transition: 0.5s ease-in-out;
        text-align: center;
        border-radius: 5px;
        z-index: 0;

        &:before {
            right: -50px;
            border-right: 50px solid transparent;
            transform: translateX(-100%);
            transition: 0.5s ease-in-out;
        }

        &:after {
            left: -50px;
            border-left: 50px solid transparent;
            transform: translateX(100%);
            transition: 0.5s ease-in-out;
        }

        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-bottom: 80px solid $c-red;
            z-index: -1;
        }

        &:hover {
            color: white;
            text-decoration: none;

            &:before {
                transform: translateX(-40%);
            }

            &:after {
                transform: translateX(40%);
            }
        }

        &:before {
            right: -50px;
            border-right: 50px solid transparent;

            @include bp(360px) {
                right: -60px;
            }
        }

        &:after {
            left: -60px;
            border-left: 50px solid transparent;

            @include bp(m) {
                left: -50px;
            }
        }

        @include bp(m) {
            font-size: 16px;
            max-width: 200px;
            height: 60px;
            line-height: 60px;
        }

        @include bp(l) {
            font-size: 20px;
            max-width: 250px;
            height: 80px;
            line-height: 80px;
        }

        @include bp(md) {
            font-size: 25px;
        }
    }
}

.Team {
    background: url("../img/team-bg.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

    &__title {
        @extend %title;
        margin-bottom: 100px;
        text-align: center;
    }

    &__person {
        &-photo {
            @include bp(360px) {
                max-width: 300px;
                margin: auto;
            }

            @include bp(l) {
                max-width: 400px;
                padding-bottom: 50px;
            }
        }

        &-name {
            @include Marck(25, 800, $c-red);
            padding-top: 15px;
            padding-bottom: 5px;
            position: relative;

            &:before {
                content: '';
                display: block;
                position: absolute;
                right: 50%;
                bottom: -5px;
                width: 25px;
                transform: translate(50%);
                border-bottom: 2px solid $c-red;
            }
        }

        &-position {
            @include Comfortaa(16, 400, $c-orange);
            padding: 15px 0 15px;
            text-transform: lowercase;
        }
    }
}

.Statistics {
    background-color: rgba(255,255,255,1);
    background: url("../img/bg-mask.png"), linear-gradient(to bottom, #ffffff 0%, rgba(255,186,89,1) 47%, rgba(255,180,74,1) 56%, rgba(255,174,59,1) 65%, rgba(255,152,0,1) 100%);
    padding: 70px 0;
    margin-top: 100px;

    &__title {
        @extend %title;
        margin-bottom: 100px;
        text-shadow: 1px 1px 2px #6e6c6c;
        color: #fff;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        @include bp(m) {
            justify-content: space-between;
        }
    }

    &__block {
        width: 49%;

        @include bp(m) {
            width: 24%;
        }

        &-number {
            @include Marck(75, 800, $c-red);
            text-shadow: 1px 3px 0 #fff;

            @include bp(m) {
                font-size: 85px;
            }

            @include bp(l) {
                font-size: 100px;
            }
        }

        &-text {
            @include Comfortaa(15, 400, white);

            @include bp(m) {
                font-size: 18px;
            }

            @include bp(l) {
                font-size: 20px;
            }
        }
    }
}

.Contacts {
    background: url("../img/bg_contacts.jpg");
    padding: 65px 0;
    background-size: cover;
    background-position: center;

    @include bp(m) {
        padding: 100px 0;
    }

    &__title {
        @extend %title;
        margin-bottom: 65px;
        text-align: left;

        @include bp(m) {
            margin-bottom: 100px;
        }
    }

    &__form {
        max-width: 520px;
    }

    &__row {
        position: relative;

        &-input {
            padding: 15px 20px 15px;
            margin-bottom: 20px;
            border: 1px solid #e4e4e4;
            border-radius: 5px;
            width: 100%;
            @include Comfortaa(12, 400, #000);

            &:focus {
                outline: none;
                border-color: #000011;
            }

            &:focus + .Contacts__row-label {
                font-size: 12px;
                top: -8px;
            }

            &.active +.Contacts__row-label {
                font-size: 12px;
                top: -8px;
            }
        }

        &-label {
            @include Comfortaa(12, 400, #505D68);
            position: absolute;
            left: 15px;
            top: 15px;
            transition: .3s;
            background: #fff;

            @include bp(m) {
                font-size: 15px;
            }
        }

        &-message {
            width: 100%;
            height: 120px;
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid #e4e4e4;
            border-radius: 5px;
            resize: none;
            @include Comfortaa(12, 400, #000);

            &:focus {
                outline: none;
                border-color: #000011;
            }

            &:focus + .Contacts__row-label {
                font-size: 12px;
                top: -8px;
            }

            &.active +.Contacts__row-label {
                font-size: 12px;
                top: -8px;
            }
        }

        &-button {
            position: relative;
            display: block;
            overflow: hidden;
            @include Comfortaa(14, 600, $c-red);
            width: 100%;
            max-width: 150px;
            height: 40px;
            border: 2px solid $c-red;
            text-decoration: none;
            transition: 0.5s ease-in-out;
            text-align: center;
            border-radius: 5px;
            z-index: 0;
            background: #fff;

            .button__aware {
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-radius: 50%;
                background-color: $c-red;
                transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                transform: translate(-50%, -50%);
                z-index: -1;
            }

            &:hover {
                color: #fff;
                text-decoration: none;

                .button__aware {
                    width: 225%;
                    height: 562.5px;
                }
            }

            @include bp(m) {
                font-size: 14px;
                max-width: 200px;
                height: 50px;
            }

            @include bp(l) {
                font-size: 16px;
            }

            @include bp(md) {
                font-size: 18px;
            }
        }
    }
}